/* nakedeb css arpinux&3hg@2020-2021©WTFPL */

body {
    color: #d8dee9;
    background-color: #2e3440;
    font-family: Hack, monospace;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    transition: all 0.5s;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 0;
    padding-top: 2.5em;
    width: 100%;
    max-width: 700px;
}
a { color: #81a1c1; text-decoration: none; }
a:hover { color: #fff; }
p { text-align: justify; }
li {
    padding: 0.2em;
    line-height: 1.5em;
}
.center { text-align:center; }
.right { text-align:right; float:right; }
.zoom { font-size: 1.4em; }
img { max-width: 100%; height: auto; vertical-align: middle;}
img.wiki { box-shadow: 0px 0px 4px #aaa; }
.caption { font-size: .8em; font-style: italic; }
code {
    background-color: #4c566a;
    white-space: pre;
}
pre {
    background-color: #4c566a;
    border: 1px dotted #d8dee9;
    padding: 5px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}
kbd {
    color: #eceff4;
    font-size: .9em;
    line-height: 1.8em;
    background: #434c5e;
    border: 1px solid #d8dee9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 .2em;
    padding: .1em .3em;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    white-space: nowrap;
}
table { width: 100%; border-collapse: collapse; }
th, td { padding: .2em; border: 1px solid #d8dee9; }
th { background-color: #434c5e; color:#d8dee9; }
#nav {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background-color: #2e3440;
    opacity: 85%;
}
#nav:hover {
    opacity: 100%;
    height: auto;
    overflow: auto;
}
#menu {
    width: 100%;
    list-style: none;
    margin: 0 auto 0 auto;
    padding: 0;
}
#menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#menu a {
    display: block;
    padding: 4px 2px;
    transition: all 0.2s;
    border-bottom: 3px solid #2e3440;
}
#menu a.thisPage {
    color: orange;
    border-bottom: 3px solid #2e3440;
}
#menu a:hover {
    color: #eceff4;
    border-bottom: 3px solid orange;
}
#header {
    font-size: 2em;
    margin: 0 auto -1em auto;
    text-align: center;
}
#header a { color: #f0f0f0; }
#main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em 0 2em 0;
}
#main h2 {
    font-size: 1.5em;
    margin-top: 3em;
    padding: .3em 0;
    text-align: center;
    color: #2e3440;
    background-color: #d8dee9;
    transition: all 0.8s;
}
#main h2:before { content: "# \003E  "; }
#main h3 {
    font-size: 1.2em;
    color: #2e3440;
    background-color: #d8dee9;
    padding: .3em 1em;
    margin-top: 2em;
}
#main h3:before { content: "# "; }
#main h4 {
    font-size: 1.1em;
    background-color: #434c5e;
    padding: 0.2em;
    margin-top: 2em;
}
#main h4:before { content: "\003E  "; }
#main h5 {
    font-size: 1.1em;
    margin-bottom: 1em;
}
#lang {
    position: absolute;
    top: 2em;
    right: .2em;
    padding: .1em;
}
#lang p { margin: 0; padding: 0; }
#totop {
    z-index: 1;
    position: fixed;
    bottom: .2em;
    right: .2em;
    padding: .1em .2em .2em .2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: orange;
    border: 1px solid orange;
    opacity: 35%;
    transition: all .2s ease-in-out;
}
#totop:hover {
    opacity: 100%;
    background-color: #434c5e;
    border: 1px solid #d8dee9;
}
#footer {
    width: 100%;
    max-width: 670px;
    margin: auto;
    text-align: center;
    border-top: 1px solid #839496;
    padding: 1em;
    transition: all 0.8s;
}
#footer img { opacity: 0.6; }
#footer img:hover { opacity: 1; }
.wiki {
    max-width: 90%;
    margin: 5px auto;
}

/* startpage ---------------------------------------------------------*/

.nakedstart ul li { list-style: none; }
#search { margin-top: 42px; }
.nakedstart form { width: 100%; text-align: center; margin: 10px auto; }
.nakedstart input[type="search"] {
    background-color:#4c566a;
    color:#d8dee9;
    font-size: 14px;
    padding: 5px;
    width: 40em;
    max-width: 90%;
    font-weight: bold;
    border: 1px solid #d8dee9;
    margin-bottom: 1em;
}
.nakedstart input[type="submit"] {
    display: none;
}
.nakedstart button {
    background-color:#5e81ac;
    color:#2e3440;
    text-align:center;
    font-size:14px;
    padding: 5px;
    width: 9em;
    font-weight:bold;
    border: 1px solid #d8dee9;
}
.nakedstart button:hover {
    background-color:#a3be8c;
}

/* little screens ----------------------------------------------------*/
@media screen and (max-width: 680px)
{
    body { padding-top: 4em; }
    #nav { height: auto; }
}
