body {
  margin: 0;
  width:100%;
  background-color:#d8dee9;
  color:#2e3440;
  font-size:16px;
}
main {
  max-width:780px;
  text-align:center;
  margin:auto;
}
h1 {
  color:#5e81ac;
  text-transform:uppercase;
}
fieldset {
    border:2px solid #5e81ac;
    margin:10px auto;
}
